<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- This is the list of images  -->
            <div class="col-md-4" *ngFor="let artItem of artItems;let artItemIndex = index;">
                <div class="card card-chart">
                    <div class="card-header card-header-success upload-img-container">
                        <div class="upload-img" id=""><img [src]="artItem.path"></div>
                    </div>
                    <div class="card-body">
                        <!-- <h4 class="card-title">{{img.name}}</h4> -->
                        <a mat-button class="nav-link" (click)="clickInputToUploadImage(artItemIndex)" href="#messages"
                            data-toggle="tab">
                            <i class="material-icons">code</i> Click here to upload an image
                            <div class="ripple-container"></div>
                        </a>
                        <label class="image-upload-container btn btn-bwm">
                            <span>Select Image</span>

                            <input [id]="'inpt' + artItemIndex" type="file" accept="image/*"
                                (change)="processFile(artItemIndex)">
                        </label>
                        <mat-form-field class="example-full-width">
                            <input
                                [ngClass]="{ 'error':validationData[artItemIndex].title.isDirty && !validationData[artItemIndex].title.isValid  }"
                                [title]="validationData[artItemIndex].title.titleMsg" matInput placeholder="Title"
                                (blur)="onBlur('title',artItemIndex, $event.target.value)">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input
                                [ngClass]="{ 'error':validationData[artItemIndex].artist.isDirty && !validationData[artItemIndex].artist.isValid  }"
                                (blur)="onBlur('artist',artItemIndex, $event.target.value)"
                                [title]="validationData[artItemIndex].artist.titleMsg" matInput placeholder="Artist">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <!-- <input matInput placeholder="Date"> -->
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput
                                    [ngClass]="{ 'error':validationData[artItemIndex].date.isDirty && !validationData[artItemIndex].date.isValid  }"
                                    (dateChange)="onDateChange($event.target.value, artItemIndex)"
                                    [title]="validationData[artItemIndex].date.titleMsg" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="false"
                        data-toggle="modal" data-target="#buy">Activate Poll</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-plugin" *ngIf="showActivationModal" (clickOutside)="onClickOutside($event)">
    <div class="dropdown show-dropdown open show">
        <!-- <a href="#" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-cog fa-2x"> </i>
        </a> -->
        <ul class="dropdown-menu show" x-placement="bottom-start"
            style="position: absolute; top: 41px; left: -231px; will-change: top, left;">
            <li class="header-title"> Sidebar Filters</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="ml-auto mr-auto">
                        <span class="badge filter badge-purple" data-color="purple"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-danger active" data-color="danger"></span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-2.jpg" alt="">
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-3.jpg" alt="">
                </a>
            </li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-4.jpg" alt="">
                </a>
            </li>
            <li class="button-container">
                <div>
                    <button class="btn btn-info btn-block btn-fill" data-toggle="modal"
                        data-target="#activate-poll-modal">
                        Download Free
                    </button>
                </div>
            </li>
            <li class="button-container">
                <div>
                    <button class="btn btn-warning btn-block btn-fill" data-toggle="modal" data-target="#buy">
                        Buy Pro
                    </button>
                </div>
            </li>
            <li class="button-container text-center" routerLinkActive="active">
                <div>
                    <a class="btn btn-default btn-block"
                        href="https://demos.creative-tim.com/material-dashboard-angular2/#/documentation/tutorial">
                        View Documentation
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<app-activate-poll-modal></app-activate-poll-modal>