<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- This is the list of images  -->
            <div class="col-md-4" *ngFor="let artItem of artItems;let artItemIndex = index;">
                <div class="card card-chart">
                    <div class="card-header card-header-success upload-img-container">
                        <div class="upload-img" id=""><img [src]="artItem.path"></div>
                    </div>
                    <div class="card-body">
                        <!-- <h4 class="card-title">{{img.name}}</h4> -->
                        <a mat-button class="nav-link" (click)="clickInputToUploadImage(artItemIndex)" href="#messages"
                            data-toggle="tab">
                            <i class="material-icons">code</i> Click here to upload an image
                            <div class="ripple-container"></div>
                        </a>
                        <label class="image-upload-container btn btn-bwm">
                            <span>Select Image</span>

                            <input [id]="'inpt' + artItemIndex" type="file" accept="image/*"
                                (change)="processFile(artItemIndex)">
                        </label>
                        <mat-form-field class="example-full-width">
                            <input
                                [ngClass]="{ 'error-input':validationData[artItemIndex].title.isDirty && !validationData[artItemIndex].title.isValid  }"
                                [title]="validationData[artItemIndex].title.titleMsg" matInput placeholder="Title"
                                (blur)="onBlur('title',artItemIndex, $event.target.value)">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input
                                [ngClass]="{ 'error-input':validationData[artItemIndex].artist.isDirty && !validationData[artItemIndex].artist.isValid  }"
                                (blur)="onBlur('artist',artItemIndex, $event.target.value)"
                                [title]="validationData[artItemIndex].artist.titleMsg" matInput placeholder="Artist">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <!-- <input matInput placeholder="Date"> -->
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput
                                    [ngClass]="{ 'error-input':validationData[artItemIndex].date.isDirty && !validationData[artItemIndex].date.isValid  }"
                                    (dateChange)="onDateChange($event.target.value, artItemIndex)"
                                    [title]="validationData[artItemIndex].date.titleMsg" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="false"
                        data-toggle="modal" data-target="#activate-poll-modal">Activate Poll</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-activate-poll-modal></app-activate-poll-modal>