.upload-img-container{
   padding: 0 !important;
   margin-top: 0 !important; 
}

.upload-img > img{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important;

}