<div class="modal modal-angular fade" id="activate-poll-modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancelClick()"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="margin-top">
               Poll activation
            </h4>
            <div class="separator"></div>
            <mat-form-field>
               <mat-label>Start poll date</mat-label>
               <input #startDateInput [ngClass]="{ 'error-input':!pollStartDate.isValid  }"
                  [title]="pollStartDate.title" matInput [matDatepicker]="pickerInit"
                  (dateChange)="onDateChange('start',$event.target.value)">
               <mat-datepicker-toggle matSuffix [for]="pickerInit">
               </mat-datepicker-toggle>
               <mat-datepicker class="modal-date-picker" #pickerInit></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Start hours and minutes</mat-label>
               <div><input #startTimeInput matInput type='time' (blur)="onTimeBlur('start', $event.target.value)" />
               </div>
            </mat-form-field>
            <div class="separator"></div>
            <div class="separator"></div>
            <mat-form-field>
               <mat-label>Choose end poll date</mat-label>
               <input #endDateInput [ngClass]="{ 'error-input':!pollEndDate.isValid  }" [title]="pollEndDate.title"
                  matInput [matDatepicker]="pickerEnd" (dateChange)="onDateChange('end',$event.target.value)">
               <mat-datepicker-toggle matSuffix [for]="pickerEnd">
               </mat-datepicker-toggle>
               <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
               <mat-label>End hours and minutes</mat-label>
               <div><input #endTimeInput matInput type='time' (blur)="onTimeBlur('end', $event.target.value)" /></div>
            </mat-form-field>
            <div class="separator"></div>

            <div class="separator"></div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
               [disabled]="isAcceptButtonDisabled" data-toggle="modal" data-dismiss="modal">Accept</button>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="false"
               data-toggle="modal" data-dismiss="modal" (click)="onCancelClick()">Cancel</button>
         </div>
      </div>
   </div>

</div>