<div class="modal modal-angular fade" id="activate-poll-modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="margin-top">
               Poll activation
            </h4>
            <div class="separator"></div>
            <mat-form-field>
               <mat-label>Choose start poll date</mat-label>
               <input matInput [matDatepicker]="pickerInit">
               <mat-datepicker-toggle matSuffix [for]="pickerInit">
               </mat-datepicker-toggle>
               <mat-datepicker class="modal-date-picker" #pickerInit></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Choose end poll date</mat-label>
               <input matInput [matDatepicker]="pickerEnd">
               <mat-datepicker-toggle matSuffix [for]="pickerEnd">
               </mat-datepicker-toggle>
               <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>

            <div class="separator"></div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="false"
               data-toggle="modal">Accept</button>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="false"
               data-toggle="modal">Cancel</button>
         </div>
      </div>
   </div>

</div>